name: style

on: [push, pull_request]

jobs:
  black:
    name: black
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: psf/black@stable

  validate_config:
    name: validate poetry setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Validate poetry setup
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry check 